@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  * {
    @apply border-slate-200 dark:border-slate-700;
  }

  body {
    @apply bg-white dark:bg-slate-dark text-slate-dark dark:text-slate-100;
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

html {
  scroll-behavior: smooth;
}
